@import '../../scss/mixins.scss';


.featured {
  width: 100%;
  margin-top: 50px;

  @include min-1280px {
    margin-top: 60px;
  }

  &__container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 25px;

    @include min-768px {
      padding: 0 40px;
    }

    @include min-992px {
      padding: 0 60px;
    }

    @include min-1024px {
      padding: 0 80px;
    }

    @include min-1280px {
      padding: 0 100px;
    }
  }

  &__products {
    width: calc(100% + 20px);
    transform: translateX(-10px);
    margin-top: 30px;


    @include grid(repeat(1, 1fr), center, center);

    @include min-576px {
      @include grid(repeat(2, 1fr), center, center);
    }

    @include min-768px {
      margin-top: 40px;
      @include grid(repeat(3, 1fr), center, center);
    }
  
    @include min-992px {
      @include grid(repeat(4, 1fr), center, center);
    }

    @include min-1600px {
      margin-top: 60px;
    }
  }

  &__card {
    width: 100%;
    // height: 80%;
    padding: 0 10px;
    margin-bottom: 35px;

    &:hover {
      .featured__btn-wrapper {
        transform: translateY(-60px);
      }

      .featured__card-link {
        border-radius: 10px 10px 0px 10px;
      }
      
      .featured__img {
        transform: scale(1.04);
      }

      /* Now is the lazy-image class from the lazyLoadImage component L 14*/
      // .lazy-image  {
      //   transform: scale(1.04);
      // }
    }
  }

  &__card-link {
    position: relative;
    // height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  &__img-wrapper {
    height: 100%;
  }

  &__img {
    height: 100%;
    max-height: 300px;
    min-height: 300px;
    // padding: 10px;
    transition: all .5s ease;

    @include min-380px {
      max-height: 350px;
      min-height: 350px;
    }

    
    @include min-480px {
      max-height: 400px;
      min-height: 400px;
    }

    @include min-576px {
      max-height: 267px;
      min-height: 267px;
    }

    @include min-992px {
      min-height: 260px;
      max-height: 260px;
    }

    @include min-1200px {
      min-height: 280px;
      max-height: 280px;
    }

    @include min-1400px {
      min-height: 300px;
    }
  }

  &__layer-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.04;
    z-index: 1;
  }

  &__btn-wrapper {
    position: absolute;
    bottom: -68px;
    right: -1px;
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: var(--color-secondary);
    border-radius: 10px 0 0 0;
    transition: all .5s ease;
    z-index: 3;


    &::before {
      content: '';
      position: absolute;
      background-image: url('../../assets/images/corners/small-corner.svg');
      top: -20px;
      right: 1px;
      width: 20px;
      height: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      background-image: url('../../assets/images/corners/small-corner.svg');
      bottom: 0px;
      left: -20px;
      width: 20px;
      height: 20px;
    }
  }

  &__btn {
    width: 100%;
    height: 100%;
    background-color: var(--bg-secondary-button-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      background-color: var(--bg-hover-secondary-button-color);
    }

    @include flex(row, nowrap, center, center);
  }
  
  &__text-wrapper {
    margin-top: 10px;
  }

  &__card-h3-link {
    margin-bottom: 5px;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--font-title-color);

    &:hover {
      color: var(--font-title-hover-color);
    }
  }

  &__card-p {
    font-size: 14px;
    text-transform: lowercase;
    color: var(--font-text-color);
  }
}