@import '../../scss/mixins.scss';


.lazy-bg {
  width: 100%;
  height: 100%;
  padding-top: 100%;
  background-color: #DDDBDD;
}

.lazy-image {
  transition: all .5s ease;
  display: none;

  &--loaded {
    display: block;
  }
}