@import '../../scss/mixins.scss';


.service {
  @include flex(row, nowrap, center, flex-start);

  @include min-768px {
    @include flex(column, nowrap, center, center);
  }

  @include min-1280px {
    @include flex(row, nowrap, center, flex-start);
  }

  &__icon-box {
    width: 62px;
    min-width: 62px;
    height: 62px;
    border: 1px solid var(--border-primary);
    border-radius: 50%;
  
    @include flex(row, nowrap, center, center);
  }
  
  &__text-box {
    text-align: left;
    margin-left: 15px;
    
    @include min-768px {
      text-align: center;
      margin-left: 0;
    }

    @include min-1280px {
      text-align: left;
      margin-left: 15px;
    }
  }
  
  &__h3 {
    font-size: 18px;
    color: var(--font-title-color);
    text-transform: capitalize;

    @include min-768px {
      margin-top: 15px;
    }

    @include min-1280px {
      margin-top: 0;
    }
  }
  
  &__p {
    font-size: 16px;
    color: var(--font-text-color);
  }
}
